# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

nb-configuration.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

#Build targets
*/target/*

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.DS_Store
*.iml
*/target/*
/customer-stream/nbproject/
.idea/
*.class
*.iml
.classpath
.project
.settings/

.factorypath

#Large CLNR files not to be checked into Git
all.csv
large.csv
medium.csv

/demand-level-kstream/nbproject/private/
/customer-profile-kstream/nbproject/private/