<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2006-2012
 Software Technology Group, Dresden University of Technology
 DevBoost GmbH, Berlin, Amtsgericht Charlottenburg, HRB 140026
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
   Software Technology Group - TU Dresden, Germany;
   DevBoost GmbH - Berlin, Germany
      - initial API and implementation
  
-->

<plugin
      name="%pluginName"
      id="tools.mdsd.jamopp.commons.layout.editor"
      version="1.0.0"
      provider-name="%providerName"
      class="tools.mdsd.jamopp.commons.layout.presentation.LayoutEditorPlugin$Implementation">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources" export="true"/>
      <import plugin="tools.mdsd.jamopp.commons.layout.edit" export="true"/>
      <import plugin="org.eclipse.emf.ecore.xmi" export="true"/>
      <import plugin="org.eclipse.emf.edit.ui" export="true"/>
      <import plugin="org.eclipse.ui.ide" export="true"/>
   </requires>

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated layout -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tools.mdsd.jamopp.commons.layout.presentation.LayoutModelWizardID"
            name="%_UI_LayoutModelWizard_label"
            class="tools.mdsd.jamopp.commons.layout.presentation.LayoutModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LayoutModelFile.gif">
         <description>%_UI_LayoutModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated layout -->
      <editor
            id="tools.mdsd.jamopp.commons.layout.presentation.LayoutEditorID"
            name="%_UI_LayoutEditor_label"
            icon="icons/full/obj16/LayoutModelFile.gif"
            extensions="layout"
            class="tools.mdsd.jamopp.commons.layout.presentation.LayoutEditor"
            contributorClass="tools.mdsd.jamopp.commons.layout.presentation.LayoutActionBarContributor">
      </editor>
   </extension>
</plugin>
